body{
    background-color: #FEEABC;
}

.whatis{
    margin: 0 10%;
    text-align: center;
}


.whatis h1{
    color: #FCAA00;
    margin-bottom: 30px;
}

.whatis p{
    text-align: start;
    font-size: 18px;
    color:#767676;
}

.howto{
    margin:0 20%;
    margin-top: 70px;
    padding:0 10px;
    border:solid 1px #FCAA00;
    border-radius: 10px;
}

.howto h2{
    text-align: center;
    color:#767676;
}

.howto h3{
    color:#767676;
}

.howto p{
    color:#767676;
}

.top_back{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.top_back_link{
    text-decoration: none;    
    padding:10px;
    color:#FCAA00;
    background-color:white;
    border:solid 1px #FCAA00;
    border-radius: 10px;
}